@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

/* Header text */
*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background: aquamarine;
}

header{
    position: sticky;
    background: salmon;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px rgb(100, 97, 97);
}

p{
    text-align: center;
    font-size: 2.0rem;
    text-shadow: 2px 2px 5px black;
}

/* Container styles */
main{
    height: 100%;
}

.calcBody{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height:80%;
}

.calc{
    display: flex;
    flex-direction: column;
    background: #EEF2F3;
    padding: 0px 15px 15px 15px;
    height: 85%;
    border-radius: 30px;
    box-shadow: inset 3px 3px 4px 2px white, 20px 20px 15px 5px #2dad82;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 25%;
   
}

.screen{
    display: flex;
    flex-direction: column;
    width:90%;
    height:20%;
}

.buttons{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 2%;
    width:80%;
    height:63%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 10px;  
}

button{
    background: #F1F6F7;
    border-radius: 15px;
    width:100%;
    height:100%;
    box-shadow: 3px 3px 10px 1px rgb(117, 117, 117);
    border: none;
    font-family: "Karla", serif;
    font-weight: 600;
    font-size: 1.2rem;
}

button:hover{
    filter: brightness(120%);
}

button:active{
    box-shadow: inset 3px 3px 10px 1px rgb(117, 117, 117);
    transform: translateY(2px) translateX(2px)
}

.wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: inset 1px 1px 1px 1px white;
    border-radius: 11px;
    
}

.operators{
    background: #bebebe;
}

.clear{
    background: red;
}

.clear:hover{
    filter: brightness(80%);
}

input{
    border: 0px;
    outline: none;
    height: 2em;
    padding-right: 5px;
    font-size: 1.5rem;
    background: #989a9b;
    font-family: 'Orbitron', sans-serif;
    text-align: end;
}

#inputValue{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;      
}

#inputValue2{
    text-align: end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
}



